<?xml version="1.0"?>
<connectionStrings>

  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-RepoPractice-f2c22f1f-42c3-47ff-820a-4c415e1c62d9;AttachDbFilename=|DataDirectory|\aspnet-RepoPractice-f2c22f1f-42c3-47ff-820a-4c415e1c62d9.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="EatIn" 
      connectionString="Data Source.; Initial Catalog=eRastaurant; Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>
</connectionStrings>